body{
  margin: 0;
  text-align: center;
  font-family: 'Brush Script MT', cursive ;
}

h1{
  margin-top: 0;
  color: white;
}
h3{
  color: #393E46;
}
p{
  font-family: Arial, Helvetica, sans-serif ;
}


.top-container{
  background-color:#2F8F9D ;
}
.middle-container{
  background-color: #B6E1E0;
}

.bottom-container{
  background-color: #FF0063;
}
.bottom-cloud{
  position: absolute;
}
.education{
  background-image: url(https://www.iare.ac.in/sites/all/themes/iare/images/IARE_Campus.jpg);
  padding: 1px;
  margin: 1px;
}
